.page-title {
  margin-bottom: 16px;
  padding: 16px;
  background: black !important;
}

.page-title-text {
  color: white;
}

.table-head {
  background-color: gray;
}

.thead {
  color: white;
}

.view-container {
  margin: 16px 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 16px 0;
}

.button-group-container {
  display: flex;
  align-items: center;
}

.button-group {
  margin-left: 16px;
}

.input {
  width: 40%;
}

.loading { 
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  animation: spin 0.4s infinite ease;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  0% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .input-container  {
    flex-direction: column;
  }

  .input{
    width: 100%;
  }

  .button-group-container {
    margin-top: 16px;
    flex-direction: column;
  }
  
}